//Primary Colors
$primaryColor1: hsl(243, 87%, 12%);
$primaryColor2: hsl(238, 22%, 44%);

//Accent Colors
$accentColor1: hsl(224, 93%, 58%);
$accentColor2: hsl(170, 45%, 43%);

//Neutral Colors
$neutralColor1: hsl(240, 75%, 98%);
$neutralColor1: hsl(0, 0%, 75%);

